
body {
  background-color: pink;
}
h1 {
  color: pink;
  margin-left:10px;
  text-decoration: underline;
}
table,th,td {
  border: 2px solid black;
  border-collapse: collapse;
  
th,td {
  border-style:ridge;
  }
