nav{
    margin:0;
    padding:5px 15px;
    justify-content: space-between;
    align-items: center;
    font-size: x-large;
    display: flex;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}
nav a{
    color: white;
    text-decoration: none;
    padding:10px 20px;
}
nav li a:hover {
background-color:#Fb6ddc;
color: white;
border: 2px solid pink;
}
nav ul{
    list-style-type: none;
    display: flex;
    margin:0;
    padding:0;
    justify-content: flex-end;
}
nav ul li{
    position: relative;
    margin: 0 10px;
}

.klogo a {
    color: #777;
    text-decoration: none;
    display: flex;
    align-items: center;
}
.klogo img{
    width: 60px;
    height: auto;
    margin-right: 10px;
}

.navName{
    position: relative;
    background-color: #Fb6ddc;
    padding: 15px;
    
}
.navMenu{
    display: none;
    position: absolute;
    background-color: #Fb6ddc;
    padding: 10px;
    top: 100%;
    left: 0;
    z-index: 1;
}
.nM:hover .navMenu{
    display: block;
}

@media only screen and (max-width: 845px){
navMenu{
    display: none;
}
}