.pinkL{
    height:6px;
    background-color: #FF99CC ;
    width: 100%;
    position: fixed;
    z-index: 1000;
    top: 0;
}
h1{
    color:#FF99CC
}
#resumeYes{
    text-align: center;
    
}
#resume{
    background-color: #FF99CC;
    border: 2px solid #Fb6ddc;
    text-decoration: none;
    padding: 1em 3em;
    color: white;
    font-size: larger;
    font-weight: 500;    
    font-family: cursive;
    filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.3));
    text-align: center;
    margin-top: 20px;
    display: inline-block;
    width: fit-content;
}
#resume:hover{
    background-color: gray;
}
#resume:active{
    background-color: black;
}

main{
   padding:0 30px
}
.bodyStuff{
    padding-left: 70px;
    padding-right: 150px;
    display: flex;
}
.indexPara{
    font-size: large;
}
.linkedIn img{
    width: 200px;
    height: auto;
    margin-right: 50px;
    margin-left: 80px;
    
}
.miniClicks{
    display: flex;
    align-items: center;
    
}
.kEmoji{
    filter: drop-shadow(20px 20px 4px rgba(0, 0, 0, 0.3));
    margin-left: 80px;
}
.toggleMode{
    width: 200px;
    height: 200px;
    border-radius: 12px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;

}
.emptySpan{
    background-color: #FF99CC;
    width:50px;
    height: 100px;
    
}
footer{
    background-color:#FF99CC;
    width: 100%;
    bottom:0;
    left:0;
    position: fixed;
    z-index: -1000;
    height:40px;
}
footer p{
    margin: 9px;
    text-align: center;
    color: white
}

#myRef{
    width: 500px;
    height: 250px;

}
#reflectMain{
    display: flex;
}
#headerReflect{
    color: #Fb6ddc;
}
#paraR:first-of-type:first-letter{
    font-size:xx-large;
}
#paraR p + p{
    text-indent: 1.5em;
}
#paraR {
    border: none;

}
#aboutSec{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 100px;
}
#examplePics {
width: 300px;
margin-right: 40px;
}
#textAbout{
    display: block;
    
}

@media only screen and (max-width: 845px){
    .bodyStuff {
        padding-left: 20px;
        padding-right: 20px;
       display: block;
         }
     
     .linkedIn img {
         width: 150px;
         height: auto;
         margin-right: 20px;
         margin-left: 20px;
         }
     
         .miniClicks {
         display: block;
         align-items: center;
         text-align: center;
         }
     
         .kEmoji {
         margin-left: 20px;
         }
     
         .toggleMode {
         width: 150px;
         height: 150px;
         }
     
         .emptySpan {
         display: none;
         }
     
         footer {
         z-index: unset;
         padding: 0;
         }
     
         #myRef {
         width: 300px;
         height: auto;
         }
     
         #aboutSec {
         padding: 0 20px;
         }
     
         #examplePics {
          width: 200px;
         }
     
         #textAbout {
         display: block;
         }
         body{
            overflow-y: auto;
         }
         #myRef{
            width: 300px;
            height: 150px;
        
        }
    }
